
/* HECHO POR: MIGUEL VALDÉS DE TORRES (1ºDAW) */

/* ESTILOS DEL BODY */

body {
  background: rgb(90, 88, 86);
  background: linear-gradient(
    180deg,
    rgba(90, 88, 86, 1) 0%,
    rgba(132, 129, 124, 1) 20%,
    rgba(149, 145, 139, 1) 28%,
    rgba(182, 177, 169, 1) 57%,
    rgba(255, 248, 235, 1) 84%,
    rgba(231, 224, 213, 1) 100%,
    rgba(90, 88, 86, 1) 100%
  );
}

/* ESTILOS GENERALES PARA LOS h2 &
las etiquetas p */

h2,
p {
  text-align: center;
}

/* MENÚ */


/* PROPIEDADES PARA LA LISTA DESORDENADA */

ul {
  list-style: none;
  text-align: center;
}

/* PROPIEDADES PARA EL FONDO DEL
MENÚ DE NAVEGACIÓN */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROPIEDADES PARA LA CLASE MENÚ */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(252, 250, 247);
  background: radial-gradient(
    circle,
    rgba(252, 250, 247, 1) 27%,
    rgba(217, 213, 210, 1) 88%,
    rgba(217, 213, 210, 1) 100%
  );
  margin-top: 0px;
  text-align: center;
  height: 100px;
  width: 100%;
}


/* PROPIEDADES PARA EL LOGO DE NUESTRO MENÚ */

.menu img {
  height: 70px;
  width: 70px;
}


/* PROPIEDADES PARA LOS DISTINTOS li DE LA ul
DE NUESTRO MENÚ DE NAVEGACIÓN */

.menu li {
  display: inline-block;
  margin-right: 30px;
}


/* PROPIEDADES PARA CADA UNO DE LOS a
DE NUESTRO MENÚ DE NAVEGACIÓN */

.menu a {
  padding: 15px;
  border-radius: 10px;
  background: rgb(217, 213, 210);
  background: radial-gradient(
    circle,
    rgba(217, 213, 210, 1) 3%,
    rgba(252, 250, 247, 1) 54%
  );
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-family: "Instrument Sans", sans-serif;
  font-weight: bold;
}




/* SECCIÓN 1 */


.section1 {
  background: rgb(255, 251, 247);
  background: radial-gradient(
    circle,
    rgba(255, 251, 247, 1) 0%,
    rgba(217, 213, 210, 1) 5%,
    rgba(38, 37, 35, 1) 68%
  );
  margin-top: 0px;
  text-align: center;
  height: 400px;
  width: 100%;
}

/* PROPIEDADES GENERALES DE LAS SIGUIENTES CLASES */

.titulo-sobreMi,
.section1-miImagen,
.texto-sobreMi {
  display: inline-block; /* esta propiedad la utilizamos para
  que estén tanto el título grande, mi imagen y el texto
  correctamente alineados */
  vertical-align: top;
}


/* PROPIEDADES PARA LAS FUENTES Y EL ALINEADO DEL TEXTO
DEL TITULO SOBRE MÍ, EL TIULO "FORMACIÓN ACADÉMICA" &
"MIS PROYECTOS" */

.titulo-sobreMi,
.titlesec2,
.titlesec3 h1 {
  text-align: center;
  font-family: "Secular One", sans-serif;
  font: bolder;
}


/* PROPIEDAES PARA LAS ETIQUETAS P DE MI INFO DESCRIPTIVA*/

.texto-sobreMi p {
  text-align: justify;
  font-family: "Instrument Sans", sans-serif;
}


/* PROPIEDADES PARA LA POSICIÓN DEL TÍTULO "ACERCA DE MÍ"  */

.titulo-sobreMi {
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-right: 200px;
}


/* DEFINIMOS AQUÍ LAS PROPIEADES DEL TÍTULO "ACERCA DE MÍ" */

.titulo-sobreMi h1 {
  font-size: 80px;
  color: white;
  max-width: 100%;
  max-height: 100%;
}


/* AQUÍ DEFINIMOS LA POSICIÓN QUE VA A TENER NUESTRA IMAGEN
UTILIZANDO LA PROPIEDAD "margin" Y AJUSTÁNDOLA SEGÚN NECESITEMOS */

.section1-miImagen {
  height: 350px;
  width: 350px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


/* DEFINIMOS LAS CARACTERÍSTICAS DE NUESTRA IMAGEN */

.section1-miImagen img {
  border-radius: 50%;
  border: 2px solid white;
  max-width: 100%;
  max-height: 100%;
}


/* PROPIEDADES QUE VA A TENER EL DIV DE
NUESTRO TEXTO INFORMATIVO */

.texto-sobreMi {
  margin-left: 200px;
  height: 400px;
  width: 400px;
  margin-top: 100px;
}


/* ASIGNAMOS LAS PROPIEDADES DE NUESTRO TEXTO */

.texto-sobreMi p {
  color: white;
  font-size: 20px;
  max-width: 100%;
  max-height: 100%;
}




/* SECCIÓN 2 */


/* CARACTERÍSTICAS GENERALES DE NUESTRO DIV
PARA TODA LA SEGUNDA SECCIÓN */

.section2 {
  background-color: white;
  margin-top: 0px;
  height: 400px;
  width: 100%;
}


/* AQUÍ DEFINIMOS LAS PROPIEDADES
DE NUESTRO DIV PARA LA SECCIÓN 2 */

.titlesec2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: overline underline;
  font-size: 15px;
}

/* AQUÍ DEFINIMOS LAS CARACTERÍSTICAS
QUE VA A TENER NUESTRO TÍTULO DE LA SECCIÓN 2 */

.section2 h2 a {
  color: black;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
}


/* CARACTERÍSTICAS PARA LAS ETIQUETAS P DE
NUESTRA SECCION 2, ES DECIR, LOS AÑOS CURSADOS
ASÍ CÓMO EL GRADO DEL MISMO */

.section2 p {
  font-size: 15px;
  font-family: "Instrument Sans", sans-serif;
}




/* SECCIÓN 3 */

/* CARACTERÍSTICAS GENERALES DE NUESTRO DIV
PARA TODA LA TERCERA SECCIÓN */

.section3 {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  margin-top: 0px;
  text-align: center;
  height: 500px;
  width: 100%;
  letter-spacing: 5px;
}


/* PROPIEDADES COMUNES DE NUESTRO DIV DEL
HORARIO HTML, DE LAS POKECARTAS Y DE LA RECETA */

.section3-imgHorario,
.section3-imgPokeCartas,
.section3-recetaGalletas {
  display: inline-block;
  vertical-align: top;
}


/* PROPIEDADES COMUNES DE NUESTRO DIV DEL
HORARIO HTML, DE LAS POKECARTAS Y DE LA RECETA
PARA LAS IMÁGENES */

.section3-imgHorario,
.section3-imgPokeCartas,
.section3-recetaGalletas img {
  border-radius: 10px;
}


/* PROPIEDADES COMUNES DE NUESTRO DIV DEL
HORARIO HTML, DE LAS POKECARTAS Y DE LA RECETA
PARA LOS TEXTOS DE "PULSE SOBRE LA IMAGEN 👆" */

.section3-imgHorario,
.section3-imgPokeCartas,
.section3-recetaGalletas p {
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
}


/* PROPIEDADES COMUNES DE NUESTRO DIV DEL
HORARIO HTML, DE LAS POKECARTAS Y DE LA RECETA
PARA LOS NOMBRES DE CADA UNO */

.section3-imgHorario,
.section3-imgPokeCartas,
.section3-recetaGalletas h2 {
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
}


/* CARACTERÍSTICAS GENERALES PARA LOS
ELEMENTOS DE NUESTRA SECCION 3 */

.titlesec3 {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 15px;
  margin-top: 200px;
  text-decoration: overline underline; /* aquí destaco
  que estuve buscando y descubrí que se pueden meter
  dos propiedades a la vez de (text-decoration) siempre
  y cuándo estén separados por un espacio " " */
  text-decoration-color: white;
}


/* PROPIEDADES PARA CADA UNO DE LOS TÍTULOS
SU ETIQUETA "a". AQUÍ IMPLEMENTAMOS LA TRANSICIÓN */

.titlesec3 a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease-in-out;
}


/* Y AQUÍ INDICAMOS EL COLOR AL QUE QUEREMOS QUE CAMBIE
Y EL HOVER LO USAMOS PARA QUE CUÁNDO PASES EL MOUSE POR
ENCIMA CAMBIE EL COLOR SINO NO */

.titlesec3 a:hover {
  color: rgb(85, 231, 219);
}


/* | SECCION 3: HORARIO HTML | */

/* CARACTERÍSTICAS DEL DIV DEL HORARIO HTML */

.section3-imgHorario {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

/* PROPIEDADES TÍTULOS */

.section3-imgHorario h2 {
  color: white;
  margin-top: 3px;
}


/* PROPIEDADES TEXTO */

.section3-imgHorario p {
  color: white;
  margin-top: 30px;
}

/* PROPIEDADES IMÁGENES */

.section3-imgHorario img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

/* PROPIEDADES + TRANSICCIÓN PARA EL CAMBIO DE COLOR */

.section3-imgHorario a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}


/* CAMBIO DE COLOR AL PASAR EL MOUSE POR ENCIMA */

.section3-imgHorario h2 a:hover {
  color: rgb(85, 231, 219);
}

/* | SECCION 3: POKECARTAS | */


/* CARACTERÍSTICAS DEL DIV DE LAS POKECARTAS */

.section3-imgPokeCartas {
  height: 500px;
  width: 500px;
  margin-left: 20px;
  margin-right: 20px;
}


/* CAMBIO DE COLOR AL PASAR EL MOUSE POR ENCIMA */

.section3-imgPokeCartas h2 a:hover {
  color: rgb(85, 231, 219);
}


/* CARACTERÍSTICAS PARA LOS TEXTOS */

.section3-imgPokeCartas p {
  color: white;
  margin-top: 10px;
}


 /* CARACTERÍSTICAS PARA LA IMAGEN */

.section3-imgPokeCartas img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

/* CARACTERÍSTICAS + TRANSICCIÓN PARA LOS "a" DE CADA IMAGEN */

.section3-imgPokeCartas a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}


/* SECCION 3: GALLETAS */

/* CARACTERÍSTICAS DEL DIV DE LAS GALLETAS */

.section3-recetaGalletas {
  margin-left: 20px;
  height: 450px;
  width: 450px;
  margin-top: 10px;
  border-radius: 10px;
}


/* CAMBIO DE COLOR AL PASAR EL MOUSE POR ENCIMA */

.section3-recetaGalletas h2 a:hover {
  color: rgb(85, 231, 219);
}

.section3-recetaGalletas p {
  color: white;
  margin-top: 20px;
}

.section3-recetaGalletas img {
  max-width: 100%;
  max-height: 100%;
}

.section3-recetaGalletas a {
  color: white;
  text-decoration: none;
}

.section3-recetaGalletas a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}



/* SECCIÓN 4 */

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 72, 72);
  margin-top: -21px;
  text-align: center;
  height: 150px;
  width: 100%;
}

.section4 a {
  color: black;
  text-decoration: none;
}

button {
  font-size: 30px;
  font-family: "Shadows Into Light", cursive;
  background-color: rgb(212, 208, 208);
  border: 2px solid gray;
  font-weight: bold;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
}
